.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  border-left: 5px solid #807e7e;
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
  border-width: 1px;
  border-bottom: 2px solid #cfc9c8;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  border-left: 5px solid #807e7e;
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
  border-width: 1px;
  border-bottom: 2px solid #cfc9c8;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  border-left: 5px solid #807e7e;
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
  border-width: 1px;
  border-bottom: 2px solid #cfc9c8;
}

/* Write your code here. */
.heading {
  color: #326a9d;
}
.main {
  background-color: white;
  border-left: 3px solid black;
}
.but {
  border-color: #326a9d;
  color: #326a9d;
  background-color: white;
  border-radius: 5px;
  width: 110px;
  height: 30px;
}
